@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

@font-face {
	font-family: 'Sacred Hertz';
	src: url('../fonts/sacred_hertz/Sacred\ Hertz.otf') format('truetype');
	font-style: normal;
	font-weight: normal;
  }
  @font-face {
	font-family: 'Sugo-Pro-Classic-Bold-trial';
	src: url('../fonts/sugo_pro_classic/Sugo-Pro-Classic-Bold-trial.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
  }
  @font-face {
	font-family: 'Sugo-Pro-Classic-ExtraLight-trial';
	src: url('../fonts/sugo_pro_classic/Sugo-Pro-Classic-ExtraLight-trial.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html body{		
	font-family: 'Sugo-Pro-Classic-ExtraLight-trial';
	background-color: #07070A;
	/*-webkit-user-select: none;*/
	/*background-image: url(../imgs/fondo-portada.jpg);
	background-size: cover;	
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	*/
	color: silver;
}
.backgrounds-cover{
	background-size: cover;
	background-repeat: no-repeat;    
	background-position: center;
}

main .blocks{
    flex-direction: row;
    padding: 0vw 0vw ; 
    min-height: 100vh;
}

.theme-color{
	color: #3ebd94 !important;
}
.theme-font-titles{
	font-family: "Sacred Hertz";
	color: #3ebd94;
	color: white;
	font-size: 4em;
}


.theme-font-subtitles{
	font-family: "Sugo-Pro-Classic-Bold-trial";	
	font-size: 2em;
}
.theme-font-body{
	font-family: "Sugo-Pro-Classic-ExtraLight-trial";
	font-size: 2em;	
}

footer{
	background-color: black;
	margin-top: 0;
}
	/* portada imagen*/


	/*Slogan Lema*/
	.cont-lema-slogan{

	}
	.cont-lema-slogan .h2-lema-quicklink{
		margin-top: -2px;
		font-size: 1.6em;
		font-family: 'Lato', sans-serif;
		/* font-family: 'Nanum Brush Script', cursive; */
		font-weight: 400;
	}

	.p-slogan-quicklink{
		color: silver;
		font-family: 'Lato', sans-serif;
		font-weight: lighter;
		letter-spacing: 1.4px;
		padding-left: 10px;
		padding-right: 10px;
	}
	

/*separacion  prroductos categorias*/
.contenedor-todo-swiper h2{
	animation-delay: 2s;
    width: fit-content;
    z-index: 2;   
}

/*iconos de categorias comidas*/
.cont-nombre-iconos{
	/*
    border-top: 1px solid #c0c0c0ba;
	border-top: dashed silver 3px;
	border-top: dotted rgba(192, 192, 192, 0.462) 3px ;
	*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.cont-nombre-iconos img{
	margin-top: -5px;
}
.cont-nombre-iconos img{
width: 100%;
}
.container-foto-portada{

}
.cont-icono-comidas{
	font-size: 16px;
    width: 40px;
    max-width: 50px;
	margin-left: 4px;
}
.section-portada{
	padding: 0;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 0px;
}
.circular-gradient-top-bottom{ /*degradado  circular de  arriba hacia abajo*/
	background: linear-gradient(to top, #000000 0%, #0f0e0e3b 118%);    
	background: linear-gradient(to top, #000000d6 0%, #0f0e0e3b 118%);		
}
.background-color-blocks{
	display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at 50% 0, black 40%, black 70% );
    background: linear-gradient(to top, #000000 0%, #000000 118%);  	
	background: linear-gradient(to top, #000000d4 0%, #000000d4 118%);	
    /* margin-top: -50px;*/
}
.section-products{
	display: flex;
    flex-direction: column;
}


main{	
	overflow: hidden;
    background-attachment: fixed;
    background-image: url(../imgs/textura-fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.container-esquema{	
	width: 100%;	
	position: relative;
	
}
.img-esquema{
	margin-top: -2px;
	width:  100%;
	height: auto;
	position: fixed;	
	z-index: -3;
}
.grad1{
	position: absolute;
	width: 100%;
	height: max-content;        
	/*backdrop-filter:  blur(4px);*/
	/*background-color: rgba(26, 26, 26, 0.7); ;*/	
	display: block;    
  	background-image: linear-gradient(to top, rgba(7,7,10,0.9),  rgba(7,7,10,0.9), rgba(7,7,10,0.85), rgba(7,7,10,0.8), rgba(7,7,10,0.7), rgba(7,7,10,0.0));
	z-index: -1;
}

.img-foto{
	width: 100%;
	position: fixed;
	z-index: 0;
}

#info-title{	
	margin-top: 200px;
	font-size: 5em;
	margin-bottom: 20px;
}




a{	
	color: #5765f2;
    color: #3ebe95;
}
.footnote a{	
	color: #5765f2;
    color: #3ebe95;
}
#link-about-us{
	color: #3ebe95 !important;
}
article{	
	margin-top: 10px;	
	position: relative;	
	
}
.quitar-float{
	float: none;
} 
.center {
  margin: auto;
  width: 100%;
  border: none;
  /*border: 3px solid green;*/
  padding: 10px;
}

.fuente-kaushan{
	font-family: 'Kaushan Script', cursive;
}
.fuente-lato{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
}
.fuente-tam{
	font-size: 3.5em;	
}

.margen-derecha{
	margin-right: 1em;
}
.fondo-gris{
	background-color: #eee;
}

.no-lista{
	margin:	0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block-barra{
	float:none;	
	display: inline-block;	
	margin-right: -4px;
}
.inline-block{
	float:none;	
	display: inline-flex;	
}
.img-tam{
	max-width: 100%;
}
.fuente-tam-mediano{
	font-size: 1.5em;
}
.fuente-tam-mediogrande{
	font-size: 2em;
}
.fuente-color-negro{
	color: #000000;
}
.restraso-uno{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;	
}
.restraso-2{	
	animation-delay: 2s;
}
h1{
	animation-delay: 0.5s;
}
h2{
	animation-delay: 2s;
}
#div-index{
	animation-delay: 1s;	
}
.img-tam-mediano{
	max-width: 50%;
}
.animacion-adelanto-1{
	animation-delay: -1s;
}
#h1-menu{
	animation-delay: -0.01s;
}
#img-articulo{
	animation-delay: 0.5s;
}

/*	INFO CONTAINER INFORMACION NORMAL DE LA PAGINA WEB*/
.info-container{
    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-align: left;
    margin-top: 0;
	padding: 0px 850px 0px 100px;
}
.img-logo{	
	width: 9%;		
}

.cards-container{	
	text-align: center;
	justify-content: center;
	width: auto;
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;		
	position: relative;
  }

.figure-container{	
	background-color: rgba(0, 0,  0, 0.7);
	background-color: rgb(0 0 0 / 0%);
	position: relative;
}


figure{	
	outline: none;
	cursor:pointer;
	transition: all 300ms;
	position: relative;
	min-width: 320px;	
	max-width: 320px;		
	max-height: max-content;	
	margin: 10px;
	background-color: rgb(24, 23, 23);
	border-radius: 20px;
	border-width: 200px;
	padding: 10px;
	padding-top: 20px;	
	/*border-top: 1px solid silver;*/
	border-bottom: 1px solid silver;
	/*border-right: 1px solid silver;*/
	
}
figure:hover{			
			
	padding: 10px;
	border: 1px solid rgba(192, 192, 192, 0.34);
	box-shadow: 1px 4px  silver,1px 4px#31313137;			
}

figure img{	
	width: 50%;
}
#iframe-map{		
	width : 600px;
	height : 500px;
	border-radius: 10px;
}	

.nav-barra-inferior{
	background-color: black;
	text-align: center;		
	
}
#img-calidad{
	width: 500px; ; 
	margin: auto; 
}
.img-tercio{
	width: 500px;
	margin: auto;
}
#text{
	display:none;
}
#text2{
	display:none;
}
#text3{
	display:none;
}
#text4{
	display:none;
}
#text5{
	display:none;
}
#text6{
	display:none;
}
#text7{
	display:none;
}
#text8{
	display:none;
}
#text9{
	display:none;
}
.refrigerador-class{			
}
.refrigerador-class img{	
	width: 100%;
}
.refri1{
	opacity: 1;
	display: block;
}
.refri2{
	opacity: 0;
	display: none;
}
.aparecerRefri{	
	opacity: 1;
	display: block;
}
.desaparecerRefri{
	opacity: 0;
	display: none;
}

.entretenimiento-class img{
	width: 45%;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
span{
	font-size: 16px;
}

@media screen and (min-width: 700px){		

	#beepc{	
		display: none;				
		
	}		
	
}
/*movil///////////////////////////////////////////*/
/*movil///////////////////////////////////////////*/
@media screen and (max-width: 800px){	

	.theme-font-titles{
		font-size: 3em;
	}
	.theme-font-body{
		font-family: "Sugo-Pro-Classic-ExtraLight-trial";	
		font-size: 1.3em !important;
	}

	.circular-gradient-top-bottom{ /*degradado  circular de  arriba hacia abajo*/
		background-image: radial-gradient(circle at 50% 0, rgb(0 0 0 / 25%) 40%, black 70% );   	
		background: linear-gradient(to top, #000000d4 0%, #0f0e0e00 118%);	
	}
	
	.section-portada{	
	    padding-top: 0px;
		padding-bottom: 0px;	
		
	}



	#beepc{						
		font-size: 1.5em;
		color: #D29500;
		position: fixed;		
		bottom: 2px ;	
		right: 7.5px;
		opacity: 0.5;		
		z-index: 100;
		
	}	
	
	#beepc2{						
		font-size: 1.5em;
		color: #D29500;			
		bottom: 2px ;	
		right: 7.5px;
		opacity: 0.5;		
		z-index: 30;		
	}		

	#beepc:active{			
		position: fixed;						
		opacity: 1;							
	}		
	

	#info-title{
		font-size: 3em;
	}
	.img-logo{
		width: 20%;		
	}

	.cards-container{		
		width: 100%;		
	}	
	
	figure img{	
		width: 50%;
	}

	#iframe-map{		
		width : 350px;
		height : 350px;		
	}
	#img-calidad{
		width: 100%; ; 
		margin: auto; 
	}
	
	.img-tercio{
		width: 100%;
		margin: auto;
	}
		
	
}
	
