.cont-img-portada{		
    min-width: 340px;
    min-height: auto;
    padding-left: -20px;
    /* box-shadow: 0px 0px 40px -5px; */
    box-shadow: none;
    justify-content: center;
    width: auto;
    display: flex;
    height: 100vh;
    background-image: url(../imgs/unknow-imgs/portada-pc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1200px){
    .cont-img-portada {        
        background-image: url(../imgs/unknow-imgs/portada-movil.png);        
    }
  }


  .button-unknow-primary{
    bottom: 20%;
    position: absolute;
    margin: auto;
    display: block;
    min-width: 320px;
    max-width: 600px;
    font-size: 25px;
    /* line-height: 0px; */
    color: #262d35;
    height: max-content;
    background-color: #52f3ef;
    border-radius: 3px;
    border: none;
    /* text-transform: uppercase; */
    overflow: hidden;
    letter-spacing: 4px;
    padding: 3px 15px 3px 15px;
    font-size: 2.5em;

}

.button-unknow-primary:hover{
    background-color: #262d35;
    color: rgb(0 255 171);
    color: #52f3ef;
    box-shadow: 0 0 10px #262d35,0 0 40px #262d35,0 0 80px #262d35;
    transition-delay: 0.7s;
    outline: none;
    text-decoration: none;
    border: none;
}

.button-unknow-primary span{
    position:absolute;
    display: block;
}

.button-unknow-primary span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#262d35);
}

.button-unknow-primary:hover span:nth-child(1){
    left: 100%;
    transition:0.5s;
    outline: none;
    text-decoration: none;
}

.button-unknow-primary span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#262d35);
}

.button-unknow-primary:hover span:nth-child(3){
    right: 100%;
    transition: 0.3s;
    transition-delay: 0.25s;
    outline: none;
    text-decoration: none;
}


.button-unknow-primary span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#262d35);
}

.button-unknow-primary:hover span:nth-child(2){
    top: 100%;
    transition: 0.3s;
    transition-delay: 0.1s;
    outline: none;
    text-decoration: none;
}

.button-unknow-primary span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#262d35);
}

.button-unknow-primary:hover span:nth-child(4){
    bottom:  100%;
    transition: 0.3s;
    transition-delay: 0.5s;
    outline: none;
    text-decoration: none;
}
.button-unknow-primary:focus{
    border: none;
    outline: none;
    text-decoration: none;
}
@media only screen and (max-width: 1200px)
{
    .button-unknow-primary{
        bottom: 20%;
        position: absolute;
        margin: auto;
        display: block;
        min-width: 190px;
        max-width: 400px;
        line-height: 0px;
        font-size: 25px;
        color: black;
        height: 40px;
        background-color: #52f3ef;
        border-radius: 3px;
        border: none;
        /* text-transform: uppercase; */
        overflow: hidden;
        letter-spacing: 4px;
        padding: 1px 15px 1px 15px;
        font-size: 2em;
    }
}