.cont-img-portada{		
    min-width: 340px;
    min-height: auto;
    padding-left: -20px;
    /* box-shadow: 0px 0px 40px -5px; */
    box-shadow: none;
    justify-content: center;
    width: auto;
    display: flex;
    height: 100vh;
    background-image: url(../imgs/unknow-imgs/portada-pc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1200px){
    .cont-img-portada {        
        background-image: url(../imgs/unknow-imgs/portada-movil.png);        
    }
  }


  .button-front{
    bottom: 20%;
    position: absolute;
    margin: auto;
    display: block;
    width: 30%;
    font-size: 25px;
    color: black;
    height: 60px;
    background-color: #52f3ef;
    border-radius: 15px;
    border: none;
}

.button-front:hover{
 background-color: #ffffff;

}