main .blocks{
    flex-direction: row;
    padding: 0vw 0vw ; 
    
 
}
main .section-lore{
    /* background-image: url("../imgs/unknow-imgs/square-background.png") ; */
    min-height: 100vh;
    z-index: 1;
    
}
.cont-lore-cont-container
{
    background-color: rgba(95, 158, 160, 0);
    background-image: url("../imgs/unknow-imgs/Imagen\ 1.png");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.section-lore .cont-container{    
    padding: 80px 50px 100px;
    /* background-color: rgb(38, 45, 53); */
    width: 50%;
    /* height: 100vh; */
    min-height: 100%;
    max-height: 100%;
    z-index: 0;
}
.cont-lore-cont-container .cont-container .text-container{
    color: white;
    margin-top: 30px;
    background-color: rgb(4 0 22 / 57%);
    padding: 20px;
    border-radius: 2%;
    color: silver;
    display: inline-block;
    /* padding-top: 50px; */
    padding: 0 2vw;
    padding-top: 30px ;
    padding: 30px;
    box-sizing: border-box;
}
.h2-lore{
    color: #56e3b4 !important;
    font-size: 3.5em; 
    margin-top: 50px;
}
.p-content-lore{
    color: white;
  
}



.section-lore .cont-container .picture-img-section img {        
    min-width: 400px;
}
@media only screen and (max-width: 1200px){

    .theme-font-body{
        font-size: 1.2em;
    }
    .section-lore .cont-container{        
        height: 100%;
        padding: 80px 20px 100px;
        /* background-color: rgb(38, 45, 53); */
        width: 100%;
        /* height: 100vh; */
        min-height: 100%;
        max-height: 100%;
        z-index: 0;    
    }
    .section-lore .cont-container:nth-child(2){   
        display: none;
    } 
    main .blocks{
        flex-direction: column;
        padding: 0vw 0vw ; 
    }
    
    .cont-lore-cont-container
    {
    background-color: rgb(27 145 125);
    background-image: url("../imgs/unknow-imgs/Imagen\ 2.png");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    }  
    
}

