
.swiper-container {
	width: 100%;  
	padding-top: 50px;
	padding-bottom: 50px;   
  width: 100%;  
  min-height: 500px;
  /* background: url(http://lol-stats.net/uploads/nleWJB1jH5kiFgU4nurA1slz5cyijiQCvUZb1Eka.jpeg) center no-repeat; */
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;    
}
.swiper-wrapper{
  
}
.swiper-pagination{
  bottom: 30px !important;
}
.content {  
  margin-top: -50px;
  height: 500px;
  min-height: 500px;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  position: relative;
}

.bg-shape {  
  height: 90%;
  background-image: linear-gradient(-45deg, #35b7e2 0%, #1887c2 100%);
  box-shadow: 0px 30px 139px 0px rgb(10 22 31 / 26%);
  border-radius: 30px;
  padding: 45px 40px;
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 25px;
  margin-left: 50px;  
}
.bg-shape img {  
  object-fit: contain;
  width: 350px;
  display: block;
  object-position: left center;
  opacity: 0.2;
  opacity: 0.4;
  transform: rotate(-90deg) translateY(-50%);
  max-width: inherit;
  left: 10px;
  position: absolute;
}
/*Img*/ 
.product-img {
  position: absolute;
  z-index: 2;
  width: 500px;
  width: 350px;
  left: 25%;  
  transform: translateX(-45%);
  max-height: 500px;
  height: 100%;
  pointer-events: none;
  
}
.product-img__item {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  right: 0;

  transform: translateY(10%) translateX(-10px);
  opacity: 0;
  transition: all .2s ease-in-out 0.0s;
}
.product-img__item img {
  object-fit: contain;
  object-position: center right;
  max-width: 100%;

  object-fit: contain;
    object-position: center right;

    
}
.product-img__item.active {
  opacity: 1;
  transform: translateY(-48%) translateX(-30px);
  transition-delay: 0.0001s;
}
.product-video__item{
  width: 200%;
  height: 150%;
  margin-left: -180px;  
    transform: scaleX(-1);
}

/*product slider*/
.product-slider {
  width: 75%;
  height: 75%;
  background-color: #00000080;
  border-radius: 10px;
  box-shadow: 1px 5px 5px 1px rgba(255, 255, 255, 0);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/*buttoms*/

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.product-slider__wrp {
  height: 100%;
}
.product-slider__item {
  position: relative;
  height: 100%;
  width: 100%;
}
.product-slider__cover {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/*Slider-card-content*/
.product-slider__content {
  color: #fff;
  padding-top: 1px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 250px;
  padding-left: 150px;
  padding-right: 80px;
  text-align: start;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(1) {
  transition-delay: 0s;
}
.product-slider__item.swiper-slide-active .product-slider__content > * {
  opacity: 1;
  transform: none;
}
.product-slider__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 3.5em;
  line-height: 1.2em;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.1s;
}
.product-slider__price {
  display: block;
  font-size: 25px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.1s;
}
.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.product-ctr {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 40px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.1s;
}

.product-labels__group {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.product-labels__title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  font-size: 12px !important;
  line-height: 1.2;
  margin-bottom: 0;
}
.product-labels__item:first-child {
  margin-left: 0;
}
.product-labels__checkbox {
  display: none;
  
}
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.product-labels__checkbox:checked + .product-labels__txt {  
  /* border-bottom-color: #ffffff; */
  padding: 10px 13px;
}
.product-labels__txt {
  line-height: 1.2;
  display: block;
  border: 2px solid transparent;
  font-size: 10px;
  padding: 10px 20px;
  padding-left: 0;
  border-radius: 50px;
  transition: all 0.3s;
  letter-spacing: 2px;
  padding: 5px;
}

sup {
  top: -0.5em;
  font-style: italic;
  color: silver;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
progress, sub, sup {
  vertical-align: baseline;
}
.product-labels{
  max-width: 80%;
  overflow-wrap: anywhere;
  min-width: 80%;
}
.product-labels__item {
  margin: 5px;
  cursor: pointer;
}
.product-labels__group:last-child {
  margin-bottom: 0;
}
.product-labels__group {
  display: flex;
  margin-bottom: 15px;
}
.product-slider__bottom {
  position: absolute;
  margin-top: 5px;
  opacity: 0;
  transform: translateY(55px);
  transition: all 0.1s;
  left: 10%;
  right: 0;
  margin: 0px 10px 0px 10px;
  text-align: end;
  bottom: 0;
  margin-bottom: 15px;
}

.product-ctr .hr-vertical {
  width: 1px;
  background: #9fa3a7;
  align-self: stretch;
  margin: 0 35px;
  flex-shrink: 0;
  opacity: 0.5;
  margin-left: 0;
  margin-right: 20px;
  
}
.product-inf {
  text-align: center;
}
.product-inf__percent {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: "Dosis", sans-serif;
  position: relative;
}
.product-inf {
  text-align: center;
}
svg:not(:root) {
  overflow: hidden;
}


circle {
  cx: 50;
  cy: 50;   
  r: 47;   
  
  /*stroke-dasharray: 565.48;*/
  /*stroke-dasharray:565.7142857142857;    */
  /*stroke-dashoffset:113.14285714285711;*/
  stroke: rgb(29, 164, 237);
  stroke: rgb(44 237 247);
  stroke: rgb(255 255 255);
  stroke-width: 4;
 /* transition: stroke-dasharray 1s linear ;   */
  fill: none;    


  transition: stroke-dashoffset .7s linear;  
  /*transition-delay: .3s;*/
 
  
}


.product-slider__item.swiper-slide-active circle {
  animation: progress 1s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0.75;
}
.product-inf__percent circle {
  transform: rotate(180deg) scaleY(-1);
  transform-origin: 50%;
}
/*Show and hidden circle porgress bar class active*/
.product-inf__percent-circle-circle.active-circle-progress{
  stroke-dasharray:224;
  stroke-dashoffset:224;
  /*stroke-dashoffset:565.7142857142857;*/
}


.product-inf__title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}
.product-slider__item.swiper-slide-active .product-slider__content > *:nth-child(4) {
  transition-delay: 0.2s;
}
.product-slider__item.swiper-slide-active .product-slider__content > * {
  opacity: 1;
  transform: none;
}
.product-slider__cart {
  box-shadow: rgb(102 225 208) 0.1px 0.1px 10px 0.1px;
  background-image: linear-gradient(-45deg, #03a9f4 0%, #58c9b0 100%);
  border: none;
  color: #fff;
  padding: 10px 30px;  
  min-height: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
  outline: none !important;
  left: 0;
    right: 0;
    margin: 0px 50px 0px 50px;
    text-align: center;
}

.product-slider__cart:hover {
  background-image: linear-gradient(-45deg, #7500ff 50%, rgb(33 170 195) 100%);
  background-image: linear-gradient(-45deg, rgb(33 170 195), rgb(33 170 195) 100%);
  color: rgb(33 170 195);
  background-image: linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 100%);
}


.product-slider__cart:active {  
}

[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, hr, input {
  overflow: visible;
}
.product-slider__fav {
  color: #888e94;
  background: none;
  border: none;
  position: relative;
  padding-left: 25px;
  outline: none !important;
  cursor: pointer;
}
[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button;
}
.product-slider__fav:hover {
  text-decoration: none;
  outline: none; border: none;
}
.product-slider__fav .heart {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) scale(0.7);
  top: 50%;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: url(https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png) no-repeat;
  background-position: 0 0;
  
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.product-slider__fav .heart.is-active {
  filter: invert(1);
  transition-duration: 1s;
  background-position: -2800px 0;
}
.product-slider__fav .heart {
  display: block;
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%) scale(0.7);
  top: 50%;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: url(https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
/*swiper wrapper*/
.swiper-wrapper {
  position: relative;
  width: 100%;
  /* display: none !important; */
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  align-items: center;
}
.swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.swiper-slide {
	background-image: url(https://source.unsplash.com/random);
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
  background: border-box;

/*
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    */

}
.swiper-slide img{
  display: block;
  width: 100%;
  
  opacity: 20%;
}
/*Product slide card*/
.product-slider__card {  
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  /* width: 300%; */
  transition: all 0.1s;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* left: 50%; */
  width: inherit;
  border-radius: 30px;
}

/*shadow*/
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
  background-image: -o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.secction-cont-swiper-photos{    
  width: 100%;
  margin-top: -20px;
  z-index: 1;
}
@media only screen and (min-width: 1200px){
  .product-inf__percent-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/




@media only screen and (max-width: 1200px)
{
  .content {
    max-width: 920px;
    margin-top: -50px;
    height: auto;
    min-height: 78vh;
  }



  .bg-shape {
    border-radius: 20px;
    width: 100%;
    height: 40%;
    align-items: flex-start;
    padding-top: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    align-items: center;
    height: 290px;
    width: 90%;
    height: 290px;
    /* align-items: flex-start; */
    /* padding: 50px; */
    left: 50%;
    transform: translateX(-50%);
    
  }
  .bg-shape img {
    transform: none;
    width: 100%;
    position: relative;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 100%;
    object-position: top;
    
  }


  .bg-shape img {
    width: 430px;
    left: 10px;
  }
  .bg-shape img {
    object-fit: contain;
    width: 90%;
    display: block;
    object-position: top;
    opacity: 0.4;
    /* transform: rotate(-90deg) translateY(-50%); */
    max-width: inherit;
    left: 4%;
    position: absolute;
    padding: 10px;
    padding-top: 40px;
  }

  .product-img {
    /*
    width: 55%;
    left: 55%;
    max-width: 300px;
    transform: translateX(-50%);
    top: 0;

    position: absolute;
    top: -24%;
    */

    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;

    width: 430px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 350px;

    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;
    width: 430px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 350px;
    width: 100%;
    max-width: 400px;
    top: 30px;
    height: 390px;
    width: 430px;    
    transform: translateX(-50%);
    top: 0;
    height: 350px;
    left: 55%;

  }
  .product-slider {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    /* position: relative; */
    top: 0;
    margin-top: 170px;
    margin-bottom: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: absolute;
    top: 0;
    margin-top: 170px;
    margin-bottom: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    /* height: auto; */
    top: 0;
    margin-top: 170px;
    position: relative;
    margin-bottom: 100px;
    width: 85%;
    left: 50%;
    /* top: 0; */
    min-height: 100%;
    height: 100%;
  }


  .product-slider__card {
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    /* width: 300%; */
    transition: all 0.1s;
    margin: auto;
    overflow: hidden;
    position: relative;
    /* left: 50%; */
    width: inherit;
    border-radius: 30px;
  }

  .product-slider__content {    
  text-align: center;
  padding: 10px;
  padding-top: 90px;
  line-height: 0.9;
  height: 100vw;
  height: 40vh;
  padding-top: 0px;
  
  }
  .product-slider__title {
  font-size: 16px;
  }
  .product-slider__price {
  font-size: 16px;
  }
  .product-ctr {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  }
  .product-labels__group {
  justify-content: center;
  }

  .product-ctr .hr-vertical {
  width: 100%;
  margin: 35px 0;
  height: 1px;
  }

  .product-slider__item {
  height: auto;
  }
  .product-slider__card {
  border-radius: 20px;
  height: 55vh;
  }
  .product-slider__cover {
  border-radius: 20px;
  }

  .product-slider__title {
  font-size: 16px;
  }
  .product-slider__price {
  font-size: 16px;
  }
  .product-ctr {
    display: flex;
    min-height: 150px;
    margin-top: 40px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.1s;
    align-items: stretch;
    align-content: flex-start;
}

  .product-labels {
    max-width: 100%;
    overflow-wrap: anywhere;
    min-width: 100%;
    color: silver;
  }
  

  .product-ctr .hr-vertical {
    width: 100%;
    margin: 35px 0;
    margin: 10px 0px 2px 0px;
    height: 1px;
  }
  
  .product-inf {
  width: 100%;
  }
  .product-video__item {
    width: 120%;
    justify-self: unset;
    position: relative;
    z-index: 3;
    left: 40%;
    transform: scaleX(-1);
  }
   .product-img__item img {
    object-fit: contain;
    object-position: center right;
    max-width: 50%;
    /* object-fit: contain; */
    /* object-position: center right; */
    margin: auto;
  }
.product-img__item {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) translateX(-130px);
  opacity: 0;
  transition: all 0.3s ease 0s;
  top: 39%;

  transform: translateY(10%) translateX(-10px);
  opacity: 0;
  transition: all .2s ease-in-out 0.0s;
  
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
  .product-inf__percent-txt {
    position: absolute;
    top: 15px;
    right: 3px;
    /* transform: translate(-50%, -50%); */
    font-size: 13px;
  }
  .product-labels__item{
    margin: 0px;
  }
  .product-labels__txt {
    line-height: 1;
    display: block;
    border: 2px solid transparent;
    font-size: 7px;
    padding: 10px 20px;
    padding-left: 0;
    border-radius: 50px;
    transition: all 0.3s;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 400;
    color: rgb(230, 230, 230);
}

  .product-labels__group {  
    margin-bottom: 8px;
  }
  .product-labels__title {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    font-size: 8px !important;
    color: #e1e1e1;
    line-height: 1.2;
    margin-bottom: 0;
}
  .product-inf__title {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 70%;
  }
.product-slider__bottom {  
  bottom: -55px;
  text-align: center;
  }
  .product-slider__cart {
  
  border: none;
  color: #fff;
  padding: 10px 30px;
  /* border-radius: 50px; */
  min-height: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 40px;
  cursor: pointer;
  outline: none !important;
  left: 0;
  right: 0;
  line-height: 12px;
  margin: 0px 30px 0px 0px;
  text-align: center;
  margin-bottom: 5px;      
  }
  .product-slider__fav {    
    font-size: 12px;
}

}


